{% extends "layout.html" %}

{% block main %}

    <div class="col">
        <form action="/" enctype="multipart/form-data" method="post">

            <div class="form-group">
                <label>email: </label>
                <input name="email" id="email" type="email" autofocus required>
            </div>

            <div class="form-group">
                <label>Analysis date: </label>
                <input name="formDate" id="formDate" type="date" required>
            </div>

            <div class="form-group">
                <label>Analysis responsible: </label>
                <input name="responsible" id="responsible" type="text" required>
            </div>

            <div class="form-group">
                <label>Project or process evaluated: </label>
                <input name="projectEvaluated" id="projectEvaluated" type="text" required>
            </div>
            <div class="form-group">
                <label>Team members: </label>
                <textarea name="team" id="team"></textarea>
            </div>

            <div class="form-group">
                <label>Project is done with another unity ? </label>
                <input type="radio" name="otherUnity" id="yesUnities" value="yes">
                <label for="yesUnities">Yes</label>
                <input type="radio" name="otherUnity" id="noUnities" value="no" checked>
                <label for="noUnities">No</label>
            </div>

            <div class="form-group">
                <label for="collaborativeUnity" class="hiddenDefault">What is the collaborative unity you are working with ?</label>
                <select name="collaborativeUnity" id="collaborativeUnity" class="hiddenDefault">
                    <option value="none" checked>None</option>
                    <option value="unity1">Unity 1</option>
                    <option value="unity2">Unity 2</option>
                    <option value="unity3">Unity 3</option>
                    <option value="unity4">Unity 4</option>
                </select>
            </div>

            <div class="form-group">
                <label for="refUnity">For which unity is the analysis : </label>
                <select name="refUnity" id="refUnity" required>
                    <option value="unity1">Unity 1</option>
                    <option value="unity2">Unity 2</option>
                    <option value="unity3">Unity 3</option>
                    <option value="unity4">Unity 4</option>
                </select>
            </div>

            <div class="form-group">
                <input type="checkbox" name="confirmation" id="confirmation">
                <label for="confirmation">I want a confirmation email</label>
            </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>


        </form>

{% endblock %}
