/* fill viewport, hide scroll bar */
html, body
{
    height: 100%;
    overflow: auto;
    background: hsl(200, 10%, 50%);
}

/* ensure content is below navbar */
div.container-fluid
{
    padding-top: 56px;
    
}

/* fill viewport */
div.container-fluid, div.row, div.col, div.jumbotron
{
    height: 100%;
}

/* remove padding within column */
div.col
{
    padding-left: 0;
    padding-right: 0;
}

/* add padding around form */
form
{
    padding: 15px;
    margin: auto;
    max-width: 600px;
    background: hsl(100, 20%, 90%)
}

/* wrap and scroll preformatted text */
pre
{
    height: 100%;
    overflow: auto;
    padding: 15px;
    white-space: pre-wrap;
}

.well 
{
    background: hsl(100, 20%, 90%)
}

#chart_div 
{
    margin: auto;
}
